# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

EthnicityList/cocos2d/cocos/platform/android/java/bin/
EthnicityList/cocos2d/cocos/platform/android/java/gen/
EthnicityList/cocos2d/cocos/platform/android/java/local.properties
EthnicityList/proj.android/assets/
EthnicityList/proj.android/bin/
EthnicityList/proj.android/gen/
EthnicityList/proj.android/local.properties
EthnicityList/proj.android/obj/
EthnicityList/bin/
EthnicityList/linux-build/
EthnicityList/cocos2d/cocos/2d/Debug.win32/
EthnicityList/cocos2d/cocos/audio/proj.win32/Debug.win32/
EthnicityList/cocos2d/external/chipmunk/proj.win32/Debug.win32/
EthnicityList/proj.win32/Debug.win32/
EthnicityList/proj.win32/EthnicityList.opensdf
EthnicityList/proj.win32/EthnicityList.sdf

*.suo
